.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    width: 1em;
    font-size: 40px;
    animation: spin 1.5s linear infinite;

    .icon {
      font-size: 40px;
      color: #fff;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }
}
