{% extends "layouts/default.njk" %}
{% from "components/badge.njk" import badge %}
{% from "components/icon.njk" import icon %}
{% from "components/sidebar.njk" import sidebar %}
{% from "components/foundation/panel.njk" import foundationPanel %}
{% from "components/cards/info.njk" import infoCard %}
{% from "components/cards/order.njk" import orderCard %}
{% from "components/foundation/card.njk" import foundationCard %}

{% set headingProtection = {text:"Providing full protection", color:"success"} %}
{% set activity = {
  title: "IPs with the most activity",
  text: "Based on last 24 hours",
  reverse: true,
  list: [
    {
      value: "245.252.75.94",
      text: "<b class='text-gray-30'>1.</b>"
    },
    {
      value: "245.252.75.94",
      text: "<b class='text-gray-30'>2.</b>"
    },
    {
      value: "245.252.75.94",
      text: "<b class='text-gray-30'>3.</b>"
    },
    {
      value: "245.252.75.94",
      text: "<b class='text-gray-30'>4.</b>"
    },
    {
      value: "245.252.75.94",
      text: "<b class='text-gray-30'>5.</b>"
    }
  ]
} %}

{% block main %}
  <div class="foundation">
    {% call foundationPanel(title="Firewall enabled",text="Your website is protected live",avatar="shield") %}
      <div class="foundation-panel__actions-switch">
        <label class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" checked>
          <span class="form-check-label">Firewall</span>
        </label>
        <a href="/settings-firewall.html" class="btn btn-white btn-icon">
          Settings
          {{ icon("admin-tools") }}
        </a>
      </div>
    {% endcall %}
    <div class="foundation-cards">
      {{ infoCard(value="12", avatar="admin-users", title="Bad Bots", text="Last update: 23:45", select=["Today", "Today"]) }}
      {{ infoCard(value="34", avatar="admin-network", title="Login Protection", text="Last update: 22:17", select=["Today", "Today"]) }}
      {{ foundationCard(title="Specific Settings", link="/", badge={text:"Update required", icon:"info-outline", color:"error"}, switches=[{label:"XML-RPC"},{label:"Rest API"},{label:"Disable RSS", checked:true}]) }}
    </div>
    {% include "components/foundation/firewall/datatable.njk" %}
  </div>
{% endblock %}

{% block sidebar %}
  {% call sidebar() %}
    {% include "components/cards/upgrade.njk" %}
    {% include "components/cards/documentations.njk" %}
    {% include "components/cards/guidance.njk" %}
    {{ orderCard(title=activity.title, text=activity.text, list=activity.list, reverse=activity.reverse) }}
  {% endcall %}
{% endblock %}
