{% extends "layouts/default.njk" %}
{% from "components/tab-menu.njk" import tabMenu %}
{% from "components/license/panel.njk" import licensePanel %}

{% set headingProtection = {text:"Providing full protection", color:"success"} %}

{% block fluid %}
  <div class="page">
    {% call tabMenu(license.tabMenu, selected="license") %}{% endcall %}
    {% include "components/license/banner.njk" %}
    {{ licensePanel(title="License", description="View and manage your license details.", active=true, list=license.list) }}
  </div>
{% endblock %}
