{% from "components/table.njk" import table %}
{% from "components/table/head.njk" import tableHead %}
{% from "components/table/body.njk" import tableBody %}
{% from "components/table/header.njk" import tableHeader %}
{% from "components/table/row.njk" import tableRow %}
{% from "components/table/cell.njk" import tableCell %}
{% from "components/badge.njk" import badge %}
{% from "components/icon.njk" import icon %}

{% call table() %}
  {% call tableHead() %}
    {% call tableRow() %}
      {% call tableHeader(width="64px") %}
        <input type="checkbox" class="form-check-input " aria-label="select all" checked data-table-checkbox>
      {% endcall %}
      {% for item in lockouts.table.head %}
        {% call tableHeader(width=item.width, maxWidth=item.maxWidth, minWidth=item.minWidth) %}
          <span>{{ item.text | safe }}</span>
        {% endcall %}
      {% endfor %}
      {% call tableHeader(width="64px") %}{% endcall %}
    {% endcall %}
  {% endcall %}
  {% call tableBody() %}
    {% for item in lockouts.table.list %}
      {% call tableRow() %}
        {% call tableCell() %}
          <input type="checkbox" class="form-check-input " aria-label="select item" checked data-table-checkbox>
        {% endcall %}
        {% call tableCell() %}
          <a href="#" class="text-blue-40 shadow-none">{{ item.ipAddress }}</a>
        {% endcall %}
        {% call tableCell() %}
          <span class="table-main__lang">
            <img class="table-main__lang-flag" src="{{ item.country.flag }}" alt="flag">
            <span class="table-main__lang-name">
              {{ item.country.name }}
            </span>
          </span>
        {% endcall %}
        {% call tableCell() %}
          <div class="d-flex flex-column">
            {% for host in item.hostName %}
              <div class="text-gray-40">{{ host }}</div>
            {% endfor %}
          </div>
        {% endcall %}
        {% call tableCell() %}
          <span>{{ item.date }}</span>
        {% endcall %}
        {% call tableCell() %}
          <div class="d-flex gap-2 flex-wrap align-items-center">
            {{ badge(text=item.reason.text, color=item.reason.color) }}
          </div>
        {% endcall %}
        {% call tableCell() %}
          <div class="table-dropdown dropdown">
            <button class="table-dropdown__toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="6,14" aria-label="open table menu">
              {{ icon("kebab-menu") }}
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" type="button">Action</button></li>
              <li><button class="dropdown-item" type="button">Another action</button></li>
              <li><button class="dropdown-item" type="button">Something</button></li>
            </ul>
          </div>
        {% endcall %}
      {% endcall %}
    {% endfor %}
  {% endcall %}
{% endcall %}