{% from "components/icon.njk" import icon %}

<div class="sz-card">
  <div class="sz-card-guidance">
    <div class="sz-card-guidance__content">
      <div class="sz-card-guidance__content-title">Do you have a question?</div>
      <div class="sz-card-guidance__content-text">You can always contact our support line</div>
    </div>
    <div class="sz-card-guidance__actions">
      <a href="/" class="btn btn-gray-2 text-nowrap">See F.A.Q</a>
      <a href="/" class="btn btn-white btn-icon w-100">
        Get Support
        {{ icon("arrow-right-alt") }}
      </a>
    </div>
  </div>
</div>