{% from "../components/icon.njk" import icon %}
{% set list = ["DDoS Protection","Enhanced Monitoring","Advanced Firewall"] %}

<div class="get-pro">
  <div class="get-pro__content">
    <div class="get-pro__heading">
      <div class="get-pro__heading-icon">
        <img draggable="false" src="/images/shield-plus.svg" alt="shield plus">
      </div>
      <div class="get-pro__heading-content">
        <div class="get-pro__heading-title">Go Safe Zone Pro</div>
        <div class="get-pro__heading-text">Upgrade your plugin to unlock all features.</div>
      </div>
    </div>
    <div class="get-pro__list">
      {% for item in list %}
        <div class="get-pro__list-item">
          <span>{{ icon("saved") }}</span>
          {{ item }}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="get-pro__license">
    <a href="#" class="btn btn-blue-40 btn-icon">
      Upgrade to Pro
      {{ icon("arrow-right-alt2") }}
    </a>
    <div class="get-pro__license-text">One-year license for <b>$4.99</b></div>
  </div>
  <div class="get-pro__effect">
    <img draggable="false" src="/images/circle-effect.svg" alt="effect">
  </div>
</div>