.form-check-input {
  width: 16px;
  height: 16px;
  border-radius: 4px !important;
  border: 1px solid $color-gray-5 !important;
  background-color: #FFF !important;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 10px !important;
  outline: none !important;
  cursor: pointer;

  &:checked {
    background-color: $color-blue-40 !important;
    border-color: $color-blue-40 !important;
  }
  &:focus {
    border-color: $color-blue-40 !important;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05) !important;
  }
  &[type=checkbox] {
    border-radius: 4px !important;

    &:checked {
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.33329 2.5L3.74996 7.08333L1.66663 5' stroke='white' stroke-width='1.42857' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") !important;
    }
  }

  &::after,
  &::before {
    content: none !important;
  }
}
.form-switch {
  padding-bottom: 4px;
  box-shadow: none !important;
  outline: none !important;

  .form-check-input {
    width: 40px !important;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_dd_11_1821)'%3E%3Crect x='4' y='3.11111' width='17.7778' height='17.7778' rx='8.88889' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_dd_11_1821' x='0.666667' y='0.888893' width='24.4445' height='24.4444' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1.11111'/%3E%3CfeGaussianBlur stdDeviation='1.11111'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.06 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_11_1821'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1.11111'/%3E%3CfeGaussianBlur stdDeviation='1.66667'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='effect1_dropShadow_11_1821' result='effect2_dropShadow_11_1821'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow_11_1821' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A") !important;
    background-position: left -2px center !important;
    background-color: $color-gray-2 !important;
    border-radius: 14px !important;
    background-repeat: no-repeat !important;
    border: none !important;
    outline: none !important;
    height: 22px !important;
    transition: all 200ms;
    background-size: 24px !important;
    cursor: pointer;
    box-shadow: none !important;
    margin-top: 0.25em !important;

    &:focus {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_dd_11_1821)'%3E%3Crect x='4' y='3.11111' width='17.7778' height='17.7778' rx='8.88889' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_dd_11_1821' x='0.666667' y='0.888893' width='24.4445' height='24.4444' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1.11111'/%3E%3CfeGaussianBlur stdDeviation='1.11111'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.06 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_11_1821'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1.11111'/%3E%3CfeGaussianBlur stdDeviation='1.66667'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='effect1_dropShadow_11_1821' result='effect2_dropShadow_11_1821'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow_11_1821' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A") !important;
    }
    &:checked {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_dd_11_1821)'%3E%3Crect x='4' y='3.11111' width='17.7778' height='17.7778' rx='8.88889' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_dd_11_1821' x='0.666667' y='0.888893' width='24.4445' height='24.4444' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1.11111'/%3E%3CfeGaussianBlur stdDeviation='1.11111'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.06 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_11_1821'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1.11111'/%3E%3CfeGaussianBlur stdDeviation='1.66667'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='effect1_dropShadow_11_1821' result='effect2_dropShadow_11_1821'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow_11_1821' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A") !important;
      background-position: right center !important;
    }
    &:active {
      filter: brightness(100%) !important;
    }
    &:checked {
      background-color: $color-blue-40 !important;
    }

    &::after,
    &::before {
      display: none !important;
    }
  }

  &-sm {
    .form-check-input {
      width: 28px;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_dd_367_1944)'%3E%3Crect x='3.3999' y='1.6001' width='12.8' height='12.8' rx='6.4' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_dd_367_1944' x='0.399902' y='-0.399902' width='18.8' height='18.7998' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.06 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_367_1944'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='effect1_dropShadow_367_1944' result='effect2_dropShadow_367_1944'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow_367_1944' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      background-position: left -2px center;
      border-radius: 10px;
      height: 16px;
      background-size: 18px 16px;

      &:focus {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_dd_367_1944)'%3E%3Crect x='3.3999' y='1.6001' width='12.8' height='12.8' rx='6.4' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_dd_367_1944' x='0.399902' y='-0.399902' width='18.8' height='18.7998' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.06 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_367_1944'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='effect1_dropShadow_367_1944' result='effect2_dropShadow_367_1944'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow_367_1944' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      }
      &:checked {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_dd_367_1944)'%3E%3Crect x='3.3999' y='1.6001' width='12.8' height='12.8' rx='6.4' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_dd_367_1944' x='0.399902' y='-0.399902' width='18.8' height='18.7998' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.06 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_367_1944'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0627451 0 0 0 0 0.0941176 0 0 0 0 0.156863 0 0 0 0.1 0'/%3E%3CfeBlend mode='normal' in2='effect1_dropShadow_367_1944' result='effect2_dropShadow_367_1944'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect2_dropShadow_367_1944' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      }
      &:active {
        filter: brightness(100%);
      }
    }

  }
  &-sm.form-check-reverse {
    gap: 8px !important;
    padding-right: 20px;

    .form-check-input {
      margin-right: -20px;
    }
  }
}
.form-check.form-switch {
  display: flex;
  align-items: center;
  gap: 12px;

  &:has(.form-check-input:checked) {
    .form-check-label {
      color: $color-blue-40;
    }
  }

  .form-check-label {
    color: $color-gray-30;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.32px;
    margin-top: 4px;
    user-select: none;
    transition: all 0.15s;
    cursor: pointer;
  }
}
.form-check:has(input[type="radio"]) {
  .form-check-input {
    border-radius: 86px !important;
    border: 1px solid $color-gray-5 !important;
    background-color: #FFF !important;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05) !important;

    &:checked {
      background-color: $color-blue-40 !important;
      border-color: $color-blue-40 !important;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.91634 2.8125L3.90592 6.82292L2.08301 5' stroke='white' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 9px;
    }
  }
  .form-check-label {
    color: $color-gray-30;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.32px;
  }
  .form-check-input:checked ~ .form-check-label {
    color: $color-blue-50;
  }
}
.form-label {
  color: $color-gray-80;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: -0.32px;
}
.form-control {
  height: 40px !important;
  padding: 0 12px !important;
  border-radius: 8px !important;
  border: 1px solid $color-gray-2 !important;
  background: #FFF !important;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05) !important;
  color: $color-gray-100 !important;
  font-size: 14px !important;
  font-weight: 440 !important;
  line-height: 20px !important;
  letter-spacing: -0.32px !important;

  &::placeholder {
    color: $color-gray-30 !important;
    opacity: 1 !important;
  }
  &:focus {
    color: $color-gray-100 !important;
    border-color: $color-blue-40 !important;
    outline: 0 !important;
    box-shadow: none !important;
  }
  &:disabled {
    opacity: .5 !important;
    background: $color-gray-2 !important;
  }

  &-lg {
    padding: 0 14px !important;
    height: 44px !important;
    font-size: 16px !important;
    font-weight: 480 !important;
    line-height: 24px !important;
    letter-spacing: -0.3px !important;

    &::placeholder {
      color: $color-gray-20 !important;
    }
  }
}
.input-group {
  height: 40px;
  gap: 8px;
  border-radius: 8px !important;
  border: 1px solid $color-gray-2 !important;
  background: #FFF !important;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05) !important;
  color: $color-gray-100 !important;
  font-size: 14px;
  font-weight: 440;
  line-height: 20px;
  letter-spacing: -0.32px;
  display: flex;
  align-items: center;
  padding: 0 0 0 12px !important;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

  .input-group-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    width: 1em;
    font-size: 16px;

    .icon {
      color: $color-gray-30 !important;
      font-size: 16px;
    }
  }
  .form-control {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    height: 38px;
    border-radius: 0;
    padding-left: 0;
  }

  &:focus-within {
    color: $color-gray-100 !important;
    border-color: $color-blue-40 !important;
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &:has(.form-control:disabled) {
    opacity: .5;
    background: $color-gray-2 !important;

    .form-control:disabled {
      opacity: 1;
    }
  }
}
.form-select {
  display: flex;
  padding: 10px 30px 10px 12px !important;
  align-items: center;
  gap: 8px;
  border-radius: 8px !important;
  background-color: #FFF !important;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  border: 1px solid $color-gray-2 !important;
  color: $color-gray-60 !important;
  font-size: 14px !important;
  font-weight: 440 !important;
  line-height: 18px !important;
  letter-spacing: -0.32px;
  outline: none !important;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.9998 3.6001L5.9998 6.6001L8.9998 3.6001L10.1998 4.2001L5.9998 8.4001L1.7998 4.2001L2.9998 3.6001Z' fill='%238C8F94'/%3E%3C/svg%3E%0A") !important;
  background-size: 12px !important;
  background-repeat: no-repeat !important;
  background-position: right 10px center !important;
  transition: none;
  cursor: pointer !important;

  &:focus {
    outline: none !important;
    border-color: $color-gray-60 !important;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 3.61133L5 6.11133L7.5 3.61133L8.5 4.11133L5 7.61133L1.5 4.11133L2.5 3.61133Z' fill='%2350575E'/%3E%3C/svg%3E%0A") !important;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05) !important;
  }

  &:disabled {
    opacity: .75 !important;
    background-color: $color-gray-2 !important;
  }
}
.form-select.form-select-sm {
  display: flex;
  padding: 4px 26px 4px 10px !important;
  align-items: center;
  gap: 8px;
  border-radius: 55px !important;
  border: 1px solid $color-gray-2 !important;
  background-color: #FFF !important;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  color: $color-gray-20 !important;
  font-size: 14px !important;
  font-weight: 440 !important;
  line-height: 18px !important;
  letter-spacing: -0.32px;
  outline: none !important;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 3.61133L5 6.11133L7.5 3.61133L8.5 4.11133L5 7.61133L1.5 4.11133L2.5 3.61133Z' fill='%23A7AAAD'/%3E%3C/svg%3E%0A") !important;
  background-size: 10px !important;
  background-repeat: no-repeat !important;
  background-position: right 8px center !important;
  transition: none;
  cursor: pointer !important;

  &:focus {
    outline: none;
    border-color: $color-gray-60 !important;
    color: $color-gray-60 !important;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 3.61133L5 6.11133L7.5 3.61133L8.5 4.11133L5 7.61133L1.5 4.11133L2.5 3.61133Z' fill='%2350575E'/%3E%3C/svg%3E%0A") !important;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05) !important;
  }

  &:disabled {
    opacity: .75;
    background-color: $color-gray-2 !important;
  }
}
